


body {
	background-color:#6E6E6E;
	background-image: url(images/madera.png);
	background-repeat:repeat
	background-repeat: round;
}

#header {
	background-image: url(images/header.png);
	background-repeat: round;
	background-size: auto;
}


 .social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	/*left: 0;*/ /* Establecemos la barra en la izquierda */
	/*top: 200px;*/ /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	bottom: 0px;
	right: 0px;
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-truck {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail2 {background: #666666;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 20px 15px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
		
	}
	
	.clientes{ color:#666;
		text-align:center; 
		font-family:"Arial Black", Gadget, sans-serif
		}
		
	.derechos{
	color: #333;
	text-align: center;
	font-family: "Arial", Gadget, sans-serif
		}

 