


body {
	/*background: linear-gradient(#01DFA5, #088A68,#0B615E);
	background-color:#01DFA5;
	/*background-image: url(images/background-bg-l.jpg);
	/*background-size:auto;
	background-attachment:fixed;
	background-size:100% 100%;*/
	
	
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */	
	
	
	
}

#header {
	background-image: url(images/header.png);
	background-repeat: round;
	background-size: auto;
}


 .social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	/*left: 0;*/ /* Establecemos la barra en la izquierda */
	/*top: 200px;*/ /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	bottom: 0px;
	right: 0px;
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook2 {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-truck {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail2 {background: #666666;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 20px 15px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
		
	}
	
	.clientes{ color:#666;
		text-align:center; 
		font-family:"Arial Black", Gadget, sans-serif
		}
		
	.derechos{
	color: #CCC;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif
		}

	.panel-transparent {
      background-color: rgba(255,  255,  255,  0.3);
	  background: rgba(255,  255,  255,  0.3);
	  color: rgba(255,  255,  255,  0.3);
    }
	
	
	.navbar{
	  background-color: rgba(255,  255,  255,  0.9);
	  background: rgba(255,  255,  255,  0.9);
	  color: rgba(255,  255,  255,  0.9);
	  font-weight:bold}
	.navbar li { color: #000;} 


    
 